<div class="login-container">
  <ion-text color="primary" class="ion-text-center">
    <h1>Login</h1>
  </ion-text>

  <form (ngSubmit)="onLogin()">
    <div>
      <ion-input [(ngModel)]="username" label="Username" label-placement="floating" fill="solid"
        placeholder="Enter username" type="text" name="username" required></ion-input>
    </div>
    <div>
      <ion-input [(ngModel)]="password" label="Password" label-placement="floating" fill="solid"
        placeholder="Enter password" type="password" name="password" required></ion-input>
    </div>

    <ion-button expand="full" type="submit">Login</ion-button>
  </form>

</div>