<app-header [title]="this.title"></app-header>

<ion-tabs #tabs (ionTabsDidChange)="onTabChange($event.tab)">
  <ion-tab-bar slot="bottom">
    @for (tabDetail of tabDetails; track $index) {
    <ion-tab-button [tab]="tabDetail.tabName" [href]="tabDetail.href">
      <ion-icon aria-hidden="true" [name]="tabDetail.iconName"></ion-icon>
      <ion-label>{{tabDetail.title}}</ion-label>
    </ion-tab-button>
    }
  </ion-tab-bar>
</ion-tabs>

<ion-alert [isOpen]="isConfirmLogoutAlertOpen" header="Please confirm logout."
  [buttons]="confirmLogoutAlertButtons"></ion-alert>