<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>Sr No.</ion-col>
      <ion-col>Name</ion-col>
      <ion-col>Chariety</ion-col>
      <ion-col>Seva Name</ion-col>
    </ion-row>
    @if (entries.length > 0) {
    @for (entry of entries; track $index) {
    <ion-row>
      <ion-col>{{$index + 1}}</ion-col>
      <ion-col>{{entry.name}}</ion-col>
      <ion-col>{{entry.payment}}</ion-col>
      <ion-col>{{entry.sevaName}}</ion-col>
    </ion-row>
    }
    } @else {
    <ion-row class="no-entries-row">
      <ion-col size="12" class="ion-text-center">No entries to show.</ion-col>
    </ion-row>
    }
  </ion-grid>
</ion-content>