ion-row:first-child ion-col {
    background-color: var(--ion-color-primary);
    border: solid 1px #fff;
    color: #fff;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-col {
    border-right: solid 1px #808080;
    border-bottom: solid 1px #808080;
    color: #000000;
    text-align: left;
}

ion-col:first-child {
    border-left: solid 1px #808080;
}

ion-grid {
    padding: 10px;
}

.no-entries-row {
    ion-col {
        border: none;
    }
    border: 1px solid #808080;
}