<app-header title="Add Entry"></app-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <form (ngSubmit)="onSubmit(entryForm)" #entryForm="ngForm">
      <ion-input [(ngModel)]="name" label="Name" label-placement="floating" fill="solid" placeholder="Enter name"
        type="text" name="name" required></ion-input>
      <ion-select [(ngModel)]="seva" label="Seva" label-placement="floating" fill="solid" placeholder="Select sevas"
        required name="seva">
        @for (seva of sevas; track $index) {
        <ion-select-option [value]="seva.id">{{seva.name}}</ion-select-option>
        }
      </ion-select>

      <ion-button expand="full" type="submit">Submit</ion-button>
    </form>
  </div>
</ion-content>