<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add Entry</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text color="primary" class="text-center">
    <h1>Add Entry</h1>
  </ion-text>
  <div class="container">
    <form (ngSubmit)="onSubmit()">
      <ion-input [(ngModel)]="name" label="Name" label-placement="floating" fill="solid" placeholder="Enter name"
        type="text" name="name" required></ion-input>
      <ion-select [(ngModel)]="seva" label="Seva" label-placement="floating" fill="solid" placeholder="Select sevas"
        required name="seva">
        @for (seva of sevas; track $index) {
        <ion-select-option [value]="seva.id">{{seva.name}}</ion-select-option>
        }
      </ion-select>

      <ion-button expand="full" type="submit">Submit</ion-button>
    </form>
  </div>
</ion-content>